<div class="sidebar">
  <div class="gadget">
    <h2 class="star">Menu</h2>
    <div class="clr"></div>
    <ul class="sb_menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Área de atuação</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Fale conosco</a></li>
    </ul>
  </div>
  <div class="gadget">
    <h2 class="star"><span>Parceiros</span></h2>
    <div class="clr"></div>
    <ul class="ex_menu">
      <li>
				<a href="#">Empresa1</a><br />
        ...
			</li>
      <li>
				<a href="#">Empresa2</a><br />
        ...
			</li>
      <li>
				<a href="#">Empresa3</a><br />
        ...
			</li>
    </ul>
  </div>
</div>
