<div class="header">
  <div class="header_resize">
    <div class="logo">
			<a href="index.html"><%= image_tag("logo.png") %></a>      
		</div>
    <div class="menu_nav">
      <ul>
        <li><a href="/public/index">Home <small>página inicial</small></a></li>
        <li><a href="/public/service">Área de atuação <small>serviços</small></a></li>
        <li class="active"><a href="/public/about">Sobre nós<small>informação</small></a></li>
        <li><a href="#">Blog <small>nutrição</small></a></li>
        <li><a href="/public/contact">Fale conosco<small>Marque uma visita</small></a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="hbg">
  <div class="hbg_resize"><%= image_tag("banner.png") %></div>
</div>
<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">
        <h2>Sabor Intergral</h2>
        <div class="clr"></div>
				<p>
					A Sabor Integral é uma empresa de Consultoria que presta serviços para os diversos seguimentos da nutrição. 
					A empresa é composta por nutricionistas especializadas nas áreas clínicas e ortomolecular. 
					Viemos ao mercado com uma proposta de atendimento diferenciada. (aproximidade e individualidade). 
					Levamos ao estabelecimento um atendimento personalizado e de qualidade. 
					Montamos pacotes de acordo com a necessidade do local. Para que isso aconteça, fazemos uma avaliação detalhada do ambiente gratuitamente.
				</p>
      </div>
      <div class="article">
        <h2>Nutricionistas</h2>
        <div class="clr"></div>
				<table border="0" width="100%">
					<tr>
						<td width="150px"><%= image_tag("photo_renata.png") %></td>
						<td>
							<b>Renata Felipe Saffioti</b></br>
							CRN-3 – 29149</br>
							Nutricionista</br>
							Graduada pelo Centro Universitário São Camilo</br>
							Pós Graduação em Nutrição Ortomolecular
						</td>
					</tr>
					<tr><td colspan=2>&nbsp;</td></tr>
					<tr>
						<td><%= image_tag("photo_paula.png") %></td>
						<td>
							<b>Paula Fernandes Castilho</b></br>
							CRN- 3 – 30052</br>
							Nutricionista</br>
							Graduada pelo Centro Universitário São Camilo</br>
							Pós Graduação em Nutrição Clinica pelo GANEP
						</td>
					</tr>
				</table>
      </div>
    </div>
    <div class="sidebar">
      <div class="gadget">
        <h2 class="star">Menu</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Área de atuação</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Fale conosco</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h2 class="star"><span>Parceiros</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li>
						<a href="#">Empresa1</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa2</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa3</a><br />
            ...
					</li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>

