<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>Sabor Integral</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Erwin Aligam - styleshout.com" />
<meta name="description" content="Site Description Here" />
<meta name="keywords" content="keywords, here" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="css/screen.css" />

</head>

<body>

<!-- wrap starts here -->
<div id="wrap">

	<!--header -->
	<div id="header">			
				
		<h1 id="logo-text"><a href="index.html" title="">Sabor Integral</a></h1>		
		<p id="slogan">Site em construção... </p>	
		
						
	</div>
	
	
		<div id="content">
		
			<div id="left">			
			
				<div class="entry">
				
					<h3><a href="index.html">Nutricionistas</a></h3>
					<table border=1>
						<tr>
							<td>Paula Castilho - (11) 9944-8209</td>
						</tr>
						<tr>
							<td>Renata Saffioti - (11) 9821-2417</td>
						</tr>
					</table>
								
					<h3><a href="index.html">Clínica</a></h3>
					<table border=1>
						<tr>
							<td>Endereço:</td>
							<td>
								R. Henrique Bernardelli, 134, CJ. 64, Santana, São Paulo, 02013-010
							</td>
						</tr>
						<tr>
							<td>Telefone:</td>
							<td>(11) 4113-2806 / 4113.2809</td>
						</tr>
					
					</table>
								
					
				
				</div>
				
			
				
			</div>
		

			
	<!-- content end -->	
	</div></div>
		
	<!-- footer starts here -->	
	<div id="footer-outer" class="clear"><div id="footer-wrap">
	
		
	
	<!-- footer ends -->		
	</div></div>
	
	<!-- footer-bottom starts -->		
	<div id="footer-bottom">

	
		
	<!-- footer-bottom ends -->		
	</div>
	
<!-- wrap ends here -->
</div>

</body>
</html>
