<div class="header">
  <div class="header_resize">
    <div class="logo">
			<a href="index.html"><%= image_tag("logo.png") %></a>      
		</div>
    <div class="menu_nav">
      <ul>
        <li class="active"><a href="/public/index">Home <small>página inicial</small></a></li>
        <li><a href="/public/service">Área de atuação <small>serviços</small></a></li>
        <li><a href="/public/about">Sobre nós<small>informação</small></a></li>
        <li><a href="#">Blog <small>nutrição</small></a></li>
        <li><a href="/public/contact">Fale conosco<small>Marque uma visita</small></a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="hbg">
  <div class="hbg_resize"><%= image_tag("banner.png") %></div>
</div>
<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">
        <p class="date"><span>01</span>nov<br />
          2011</p>
        <h2><span>Primeira postagem</span></h2>
        <div class="clr"></div>
        <p><span class="date">Outubro 16, 2018</span> &nbsp;|&nbsp; Escrito por <a href="#">Paula Fernandes Castilho</a> &nbsp;|&nbsp; Tags <a href="#">receita</a>, <a href="#">salada</a></p>
        <img src="images/img1.jpg" width="605" height="197" alt="" />
        <p>
					Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - 
				</p>
        <p class="spec"><a href="#" class="rm">leia mais</a> &nbsp;||&nbsp; <a href="#" class="com">Comentários (3)</a></p>
      </div>
      <div class="article">
        <p class="date"><span>02</span>nov<br />
          2011</p>
        <h2><span>Segunda postagem</span></h2>
        <div class="clr"></div>
        <p><span class="date">Outubro 16, 2018</span> &nbsp;|&nbsp; Escrito por <a href="#">Paula Fernandes Castilho</a> &nbsp;|&nbsp; Tags <a href="#">receita</a>, <a href="#">salada</a></p>
        <img src="images/img1.jpg" width="605" height="197" alt="" />
        <p>
					Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - 
				</p>
        <p class="spec"><a href="#" class="rm">leia mais</a> &nbsp;||&nbsp; <a href="#" class="com">Comentários (3)</a></p>
      </div>      
			<p class="pages">Página 1 de 2 &nbsp;&nbsp;&nbsp; <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
    </div>
    <div class="sidebar">
      <div class="gadget">
        <h2 class="star">Menu</h2>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Área de atuação</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Fale conosco</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h2 class="star"><span>Parceiros</span></h2>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li>
						<a href="#">Empresa1</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa2</a><br />
            ...
					</li>
          <li>
						<a href="#">Empresa3</a><br />
            ...
					</li>
        </ul>
      </div>
    </div>
    <div class="clr"></div>
  </div>
</div>

