<div class="content">
  <div class="content_resize">
    <div class="mainbar">
      <div class="article">
        <p class="date"><span>01</span>nov<br />
          2011</p>
        <h2><span>Primeira postagem</span></h2>
        <div class="clr"></div>
        <p><span class="date">Outubro 16, 2018</span> &nbsp;|&nbsp; Escrito por <a href="#">Paula Fernandes Castilho</a> &nbsp;|&nbsp; Tags <a href="#">receita</a>, <a href="#">salada</a></p>
        <img src="images/img1.jpg" width="605" height="197" alt="" />
        <p>
					Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - 
				</p>
        <p class="spec"><a href="#" class="rm">leia mais</a> &nbsp;||&nbsp; <a href="#" class="com">Comentários (3)</a></p>
      </div>
      <div class="article">
        <p class="date"><span>02</span>nov<br />
          2011</p>
        <h2><span>Segunda postagem</span></h2>
        <div class="clr"></div>
        <p><span class="date">Outubro 16, 2018</span> &nbsp;|&nbsp; Escrito por <a href="#">Paula Fernandes Castilho</a> &nbsp;|&nbsp; Tags <a href="#">receita</a>, <a href="#">salada</a></p>
        <img src="images/img1.jpg" width="605" height="197" alt="" />
        <p>
					Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - Resumo da postagem - 
				</p>
        <p class="spec"><a href="#" class="rm">leia mais</a> &nbsp;||&nbsp; <a href="#" class="com">Comentários (3)</a></p>
      </div>      
			<p class="pages">Página 1 de 2 &nbsp;&nbsp;&nbsp; <span>1</span> <a href="#">2</a> <a href="#">&raquo;</a></p>
    </div>
		<%= render 'sidebar' %>
    <div class="clr"></div>
  </div>
</div>

