<!DOCTYPE html>
<html>
	<head>
	  <title>Si</title>
	  <%= stylesheet_link_tag "application" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="main">
			<%= yield %>
			<div class="fbg">
			  <div class="fbg_resize">
			    <div class="col c1">
			      <h2><span>Galeria</span></h2>
			      <a href="#"><img src="images/pix1.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/pix2.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/pix3.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/pix4.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/pix5.jpg" width="58" height="58" alt="" /></a> <a href="#"><img src="images/pix6.jpg" width="58" height="58" alt="" /></a> </div>
			    <div class="col c2">
			      <h2><span>Endereço</span></h2>
			      <p>
							Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço - Endereço
						</p>
			    </div>
			    <div class="col c3">
			      <h2><span>Sobre nós</span></h2>
			      <img src="images/white.jpg" width="56" height="56" alt="" />
			      <p>Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - Alguma informação resumida - </p>
			    </div>
			    <div class="clr"></div>
			  </div>
			</div>
			
		  <div class="footer">
		    <div class="footer_resize">
		      <p class="lf">&copy; Copyright <a href="#">Sabor Integral</a>.</p>
		      <div class="clr"></div>
		    </div>
		  </div>
		</div>
	</body>
</html>
